$dark-green: #0a6f25
$medium-green: #64c47e
$light-green: #a4f5b9
$gray: #bdbdbd
$light-gray: #ebebeb
$white: white

body
    background-color: $light-gray
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    margin: 0 !important